@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville:400,400i,700|Nunito+Sans:300,400,400i,600,600i,700,700i,800');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Nunito Sans', sans-serif;
}

:root {
  --brandColor: #170e66;
  --black: #000000;
  --grey: #999999;
  --white: #ffffff;
}

body {
  background-color: #efefef;
}

/* ===================================================================
 * # header
 * ------------------------------------------------------------------- */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  padding: 0 2rem;
  background-color: var(--white);
  color: var(--brandColor);
}

/* ===================================================================
 * # header logo
 * ------------------------------------------------------------------- */
.header__logo {
  display: inline-block;
}

.header__logo img {
  width: 165px;
  height: 25px;
}

/* ===================================================================
 * # main navigation
 * ------------------------------------------------------------------- */
.header__nav-links a {
  margin: 0 1rem;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 0.8rem;
  letter-spacing: 2px;
  color: var(--grey);
  transition: color 0.3s ease-in-out;
}

.header__nav-links a:hover,
.header__nav-links a.active {
  color: var(--black);
}

.nav-btn {
  padding: 5px;
  cursor: pointer;
  background: transparent;
  border: none;
  outline: none;
  visibility: hidden;
  /* display: none; */
  opacity: 0;
  font-size: 1.5rem;
}

.auth-link {
  padding: 0.8rem 1.5rem;
  background-color: var(--brandColor);
  border-radius: 100px;
  color: var(--white) !important;
  text-decoration: none;
  transition: all 0.3s ease 0s;
}

header div,
nav {
  display: flex;
  align-items: center;
}

@media only screen and (max-width: 1024px) {
  .nav-btn {
    visibility: visible;
    /* display: inline-block; */
    opacity: 1;
  }

  .header__nav-links {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    background-color: var(--white);
    transition: 1s;
    transform: translate(-100vh);
  }

  .header__toggle-menu {
    transform: none;
  }

  .header__nav-close {
    position: absolute;
    top: 1.5rem;
    right: 2rem;
  }

  .header__nav-links a {
    font-size: 1rem;
  }
}
